<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/ffj1myr.css">
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
  </head>

  <body>

    <header class="header">
      <img class="header__logo" src="{% static 'img/logo.svg' %}" alt="Kapot logo" title="Kapot"/>
    </header>

    <section class="intro">
      <div class="intro__latest-video">
        <div class="intro__latest-video__overlay"></div>
        <div class="intro__latest-video__caption">
          <h1 class="intro__latest-video__caption__title">Belgian Championship Rollerblading</h1>
          <p class="intro__latest-video__caption__timestamp">04.08.2019</p>
        </div>
      </div>
      <div class="intro__more-videos">
        <div class="intro__more-videos__video"></div>
        <div class="intro__more-videos__video"></div>
        <div class="intro__more-videos__video"></div>
        <div class="intro__more-videos__video"></div>
      </div>
    </section>

    <section class="events">
    </section>

    <section class="photos">
    </section>

    <footer>
    </footer>

  </body>
  <script src="{% static 'js/scripts.js' %}"></script>
</html>
