<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
  </head>

  <body>

    <header class="header">
      <img class="header__logo" src="" alt="Kapot logo" title="Kapot"/>
    </header>

    <section class="intro">
      <div class="intro__latest-video">
      </div>
      <div class="intro__more-videos">
        <div class="intro__more-videos__video"></div>
        <div class="intro__more-videos__video"></div>
        <div class="intro__more-videos__video"></div>
        <div class="intro__more-videos__video"></div>
      </div>
    </section>

    <section class="events">
    </section>

    <section class="photos">
    </section>

    <footer>
    </footer>

  </body>
  <script src="{% static 'js/scripts.js' %}"></script>
</html>
