body {
  background: #fff;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.header__logo {
  height: 100px;
  padding: 20px;
}

.intro {
  width: 100%;
}

.intro__latest-video {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.intro__latest-video__title {
  font-size: 70px;
  color: #FEDC32;
}

.intro__latest-video__timestamp {
  color: #FEDC32;
}

.intro__more-videos {
  width: 100%;
  display: flex;
}

.intro__more-videos__video {
  flex: 1 0 auto;
  height: auto;
  background: rgba(40, 0, 0, 0.4);
}

.intro__more-videos__video:before {
  content: '';
  float: left;
  padding-top: 100%;
}

.events {
  width: 100%;
  height: 400px;
}
