body {
  background: #fff;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.intro {
  width: 100%;
}

.intro__latest-video {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.intro__more-videos {
  width: 100%;
  display: flex;
}

.intro__more-videos__video {
  flex: 1 0 auto;
  height: auto;
  background: rgba(40, 0, 0, 0.4);
}

.intro__more-videos__video:before {
  content: '';
  float: left;
  padding-top: 100%;
}
